header {
  height: 100vh; 
  padding-top: 7rem;
  overflow: hidden; 
}

.header__container {
  text-align: center; 
  height: 100%; 
  position: relative; 
} 

/* ============== button ============== */

.button {
  margin-top: 2.5rem;
  display: flex; 
  gap: 1.2rem; 
  justify-content: center;
  border: 0;
  outline: 0;
}


/* ============== HEADER SOCIALS ============== */
.header__socials{
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 0.8rem; 
  position: absolute; 
  left: 0;
  bottom: 3rem; 
}

.header__socials::after {
  content: ""; 
  width: 1px; 
  height: 2rem; 
  background: var(--color-primary); 
}


/* ============== PROFILEPIC ============== */
/*.profile {
  background: linear-gradient(var (--color-primary), transparent);
  width: 22rem; 
  height: 30rem; 
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0; 
  overflow: hidden; 
  padding: 5rem 1.5rem 1.5rem 1.5rem; 
} */ 

.profilegrid {
  margin-top: 2cm;
  display: grid;
  grid-template-columns: 35% 50%; 
  gap: 15%; 
}

.profile {
  border-radius: 1.4rem;
  position: absolute;
  width: 30%;
  left: 4cm;
}

.presentation {
  margin-top: 1.5cm;
  margin-left: 3cm;
  align-content: flex-start;
  position: relative;
  left: 14cm; 
}



/* ============== MQ (medium devices) =============== */ 
@media screen and (max-width: 1024px) {
  .profile {
    width: 50%;
    margin: 2rem auto 4rem; 
  }
}


/* ============== MQ (small devices) =============== */ 
@media screen and (max-width: 600px) {
  .header__socials {
    display: none;
  }

 .profile {
   align-items: center;
    width: 70%;
    /*margin: 0 auto 3rem; */
  }

}